PHOTO_APP_DATABASE_USERNAME=postgres
PHOTO_APP_DATABASE_PASSWORD=password
REDIRECT_URI=http://localhost:3000/oauth/callback
OAUTH_CLIENT_ID=your_oauth_client_id
OAUTH_CLIENT_SECRET=your_oauth_client_secret
OAUTH_HOST=http://localhost:3001
