<header class="mt-4 mb-10">
  <nav class="flex justify-end">
    <div>
      <%= button_to "ログアウト", logout_path, method: :delete, class: "text-blue-600 hover:underline cursor-pointer" %>
    </div>
  </nav>
</header>
