<h1 class="text-3xl font-bold leading-7 text-gray-900 mb-6">写真一覧</h1>
<nav class="mb-6">
  <%= link_to '写真をアップロードする', new_photo_path(user_id: @user.id), class: "text-blue-600 hover:underline cursor-pointer" %>
</nav>
<% if @photos.empty? %>
  <p class="text-center text-md mt-24">まだ写真がありません。アップロードしてみましょう。</p>
<% else %>
  <div class="grid grid-cols-4 gap-2">
    <% @photos.each do |photo| %>
      <div class="mb-8 col-span-1">
        <img class="w-full h-full border" src="<%= url_for(photo.image) %>" alt="<%= photo.title %>">
        <p class="text-xl text-center"><%= photo.title %></p>
      </div>
    <% end %>
  </div>
<% end %>